<h3>Add New Client</h3>

<form action="/clients" method="post">
  <div class="form-group">
    <label class="form-label" for="name">Assign a stylist to your client:</label>
    <input class="form-control" id = "name" type="text" placeholder="Clients Name" autofocus>
    <button type="submit" class="button btn">Add Client</button>
  </div>
</form>
