<h1>Clients</h1>

<p>Current Clients:</p>

<ul>
  <% @clients.each() do |client| %>
  <li><%= client.name() %></li>
  <% end %>

<p>Enter a new client:</p>

<form action='/clients' method='post'>
  <label for='name'>Clients Name</label>
  <input id='name' name='name' type='text'>

  <button type='submit'>Add Client</button>
</form>
