<!DOCTYPE html>
<html>
<head>
  <title>Your Hair Salon App</title>
  <link rel='stylist' href='https://maxcdn.bootstrapcdn.com/3.2.0/css/bootstrap.min.css'>
  <link rel='stylsheer' href='/styles.css'>
</head>
</body>
  <divclass='container'>
    <h1 class='main-title text-center'>Salon App</h1>

    <%= yield %>
  </div>
</body>
</html>
